.p-speeddial {
  position: static !important;
}

.p-speeddial-item {
  border-radius: 100%;
  margin-left: 10px;

  .p-button.circle {
    background: var(--colors-primary-01);
    width: 36px;
    height: 36px;
  }

  .base-icon {
    color: var(--colors-primary);
    width: 18px;
    height: 18px;
  }
}
