.p-confirm-popup {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--sizes-border-radius-default);
  padding: 15px;
  max-width: 280px;
}

.p-confirm-popup-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 30px;
}

.p-confirm-popup-reject {
  background: transparent;
  border: 1px solid var(--colors-primary-01);
  color: var(--colors-primary);
}

.p-confirm-popup-accept.delete {
  background: var(--colors-secondary);
}
