.p-tooltip {
  background: var(--colors-background-section);
  border-radius: var(--sizes-border-radius-default);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font: 400 .9rem/.9rem 'DM Sans';


  &-text {
    text-align: center;
    padding: 10px;
  }

  &-right {
    margin-left: 10px;
  }

  &-bottom {
    margin-top: 10px;
  }
}

.p-tooltip.hide {
  display: none !important;
}
