// Colors
.colors-bg-section {
  background: var(--colors-background-section);
}


// Flexbox
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


// Position
.relative {
  position: relative;
}


// Sizes
.full {
  width: 100%;
  height: 100%;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}


// Diff
.cursor-pointer {
  cursor: pointer;
}
