:root {
  --colors-primary: #3A36DB;
  --colors-background-app: #F1F4FA;
  --colors-background-section: #FFF;
  --colors-text: #06152B;
  --colors-text-light: #99B2C6;

  --sizes-space-default: 30px;
  --sizes-space-y: 35px;
  --sizes-border-radius-default: 10px;
}
