.p-skeleton {
  background-color: #dee2e6;
  border-radius: 6px;
  opacity: .5;

  &::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  }

  &.text {
    width: 50% !important;
  }

  &.input {
    height: 50px !important;
  }

  &.button-flow {
    width: 180px !important;
    height: 46px !important;
  }

  &.button-circle {
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
  }
}
