@import "reset";
@import "theme";


html {
  font-size: 16px;
  overflow: hidden;
}

body {
  color: var(--colors-text);
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  overflow: hidden;
}


.actions-group {
  display: flex;
  gap: 12px;
}


@import "shorts";

@import "components/button";
@import "components/confirm-popup";
@import "components/form";
@import "components/notifications";
@import "components/overlay-panel";
@import "components/progress-spinner";
@import "components/scroll-panel";
@import "components/skeleton";
@import "components/table";
@import "components/tooltip";
